.Rproj.user/
Icon
.Rhistory
data/Icon
plots/Icon
scripts/Icon
scripts/Icon
plots/sequencing_16s/Icon
data/sequencing_16s/Icon
scripts/sequencing_16s/Icon
Icon^M^M
Icon^M
Icon?
![iI]con[_a-zA-Z0-9]
*.Rproj
.DS_Store
data/sequencing_rpoB/phyloseq/myxococcus/dist_matrix.rds
data/sequencing_rpoB/phyloseq/ps_no_tree.rds
data/sequencing_rpoB/processed/transition_rates/previous/*
.httr-oauth
scripts/to_ignore/*
data/sriswasdi_data/*
